In [1]:
import pandas as pd

In [2]:
orange = pd.read_csv('orangecapdata.csv')
purple = pd.read_csv('purplecapdata.csv')
orange

,Unnamed: 0,Year,Player Name,Total Runs,Zeros,Ones,Twos,Threes,Fours,Sixes,Boundary Runs,Team
0,0,2010,SR Tendulkar,617,184,177,36,2,86,3,362,Mumbai Indians
1,1,2011,CH Gayle,604,134,98,9,0,56,44,488,Royal Challengers Bangalore
2,2,2012,CH Gayle,733,189,162,15,1,46,59,538,Royal Challengers Bangalore
3,3,2013,MEK Hussey,733,217,225,38,2,81,17,426,Chennai Super Kings
4,4,2014,RV Uthappa,660,170,191,30,0,74,18,404,Kolkata Knight Riders
5,5,2015,DA Warner,562,139,112,29,2,65,21,386,Sunrisers Hyderabad
6,6,2016,V Kohli,969,184,291,56,2,83,38,560,Royal Challengers Bangalore

In [4]:
print(list(orange['Total Runs']))

[617, 604, 733, 733, 660, 562, 969]

In [5]:
orange.columns =

Index(['Unnamed: 0', 'Year', 'Player Name', 'Total Runs', 'Zeros', 'Ones',
       'Twos', 'Threes', 'Fours', 'Sixes', 'Boundary Runs', 'Team'],
      dtype='object')

In [12]:
def returnunique(cols):
    return list(orange[cols])


for i in orange.columns[1:]:
    print(f' {str(i)} = {returnunique(i)}')

 Year = [2010, 2011, 2012, 2013, 2014, 2015, 2016]
 Player Name = ['SR Tendulkar', 'CH Gayle', 'CH Gayle', 'MEK Hussey', 'RV Uthappa', 'DA Warner', 'V Kohli']
 Total Runs = [617, 604, 733, 733, 660, 562, 969]
 Zeros = [184, 134, 189, 217, 170, 139, 184]
 Ones = [177, 98, 162, 225, 191, 112, 291]
 Twos = [36, 9, 15, 38, 30, 29, 56]
 Threes = [2, 0, 1, 2, 0, 2, 2]
 Fours = [86, 56, 46, 81, 74, 65, 83]
 Sixes = [3, 44, 59, 17, 18, 21, 38]
 Boundary Runs = [362, 488, 538, 426, 404, 386, 560]
 Team = ['Mumbai Indians', 'Royal Challengers Bangalore', 'Royal Challengers Bangalore', 'Chennai Super Kings', 'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Royal Challengers Bangalore']

In [13]:
fav = pd.read_json('Orangecapfavbowler.json')
fav

,SR Tendulkar,CH Gayle_2011,CH Gayle_2012,MEK Hussey,RV Uthappa,DA Warner,V Kohli
M Kartik,36.0,NaN,NaN,NaN,NaN,NaN,NaN
SK Raina,34.0,NaN,31.0,NaN,NaN,NaN,NaN
T Thushara,26.0,NaN,NaN,NaN,NaN,NaN,NaN
Joginder Sharma,25.0,NaN,NaN,NaN,NaN,NaN,NaN
DW Steyn,24.0,NaN,NaN,NaN,NaN,NaN,NaN
SK Warne,NaN,36.0,NaN,NaN,NaN,NaN,NaN
PP Chawla,NaN,36.0,NaN,NaN,NaN,NaN,NaN
P Kumar,NaN,34.0,NaN,NaN,NaN,NaN,NaN
SL Malinga,NaN,28.0,NaN,NaN,NaN,NaN,NaN
J Botha,NaN,27.0,28.0,NaN,NaN,NaN,NaN
R Ashwin,NaN,NaN,43.0,NaN,NaN,NaN,NaN
DJ Bravo,NaN,NaN,37.0,NaN,NaN,25.0,NaN
JH Kallis,NaN,NaN,31.0,NaN,NaN,NaN,NaN
A Chandila,NaN,NaN,NaN,34.0,NaN,NaN,NaN
IK Pathan,NaN,NaN,NaN,30.0,NaN,NaN,NaN
I Sharma,NaN,NaN,NaN,28.0,NaN,NaN,NaN
UT Yadav,NaN,NaN,NaN,28.0,NaN,26.0,NaN
STR Binny,NaN,NaN,NaN,28.0,NaN,NaN,NaN
Mohammed Shami,NaN,NaN,NaN,NaN,36.0,NaN,NaN
R Bhatia,NaN,NaN,NaN,NaN,30.0,NaN,37.0
A Mishra,NaN,NaN,NaN,NaN,27.0,NaN,NaN
SR Watson,NaN,NaN,NaN,NaN,26.0,NaN,NaN
JP Duminy,NaN,NaN,NaN,NaN,25.0,NaN,NaN
YK Pathan,NaN,NaN,NaN,NaN,NaN,39.0,NaN
M Vijay,NaN,NaN,NaN,NaN,NaN,26.0,NaN
M Morkel,NaN,NaN,NaN,NaN,NaN,24.0,NaN
Harbhajan Singh,NaN,NaN,NaN,NaN,NaN,NaN,51.0
AD Russell,NaN,NaN,NaN,NaN,NaN,NaN,43.0
JJ Bumrah,NaN,NaN,NaN,NaN,NaN,NaN,38.0
RA Jadeja,NaN,NaN,NaN,NaN,NaN,NaN,37.0

In [14]:
player_dict = {
  "SR Tendulkar": {
    "M Kartik": 36,
    "SK Raina": 34,
    "T Thushara": 26,
    "Joginder Sharma": 25,
    "DW Steyn": 24
  },
  "CH Gayle_2011": {
    "SK Warne": 36,
    "PP Chawla": 36,
    "P Kumar": 34,
    "SL Malinga": 28,
    "J Botha": 27
  },
  "CH Gayle_2012": {
    "R Ashwin": 43,
    "DJ Bravo": 37,
    "SK Raina": 31,
    "JH Kallis": 31,
    "J Botha": 28
  },
  "MEK Hussey": {
    "A Chandila": 34,
    "IK Pathan": 30,
    "I Sharma": 28,
    "UT Yadav": 28,
    "STR Binny": 28
  },
  "RV Uthappa": {
    "Mohammed Shami": 36,
    "R Bhatia": 30,
    "A Mishra": 27,
    "SR Watson": 26,
    "JP Duminy": 25
  },
  "DA Warner": {
    "YK Pathan": 39,
    "UT Yadav": 26,
    "M Vijay": 26,
    "DJ Bravo": 25,
    "M Morkel": 24
  },
  "V Kohli": {
    "Harbhajan Singh": 51,
    "AD Russell": 43,
    "JJ Bumrah": 38,
    "R Bhatia": 37,
    "RA Jadeja": 37
  }
}

In [30]:
list(player_dict['SR Tendulkar'].keys())

['M Kartik', 'SK Raina', 'T Thushara', 'Joginder Sharma', 'DW Steyn']

In [31]:
def getvalsandnames(key):
    
    a = list(player_dict[key].keys())
    b = list(player_dict[key].values())
    
    return a,b

In [33]:
for key,val in player_dict.items():
    print(key)

SR Tendulkar
CH Gayle_2011
CH Gayle_2012
MEK Hussey
RV Uthappa
DA Warner
V Kohli

In [32]:
for key,val in player_dict.items():
    a,b = getvalsandnames(key)
    print(a)
    print(b)

['M Kartik', 'SK Raina', 'T Thushara', 'Joginder Sharma', 'DW Steyn']
[36, 34, 26, 25, 24]
['SK Warne', 'PP Chawla', 'P Kumar', 'SL Malinga', 'J Botha']
[36, 36, 34, 28, 27]
['R Ashwin', 'DJ Bravo', 'SK Raina', 'JH Kallis', 'J Botha']
[43, 37, 31, 31, 28]
['A Chandila', 'IK Pathan', 'I Sharma', 'UT Yadav', 'STR Binny']
[34, 30, 28, 28, 28]
['Mohammed Shami', 'R Bhatia', 'A Mishra', 'SR Watson', 'JP Duminy']
[36, 30, 27, 26, 25]
['YK Pathan', 'UT Yadav', 'M Vijay', 'DJ Bravo', 'M Morkel']
[39, 26, 26, 25, 24]
['Harbhajan Singh', 'AD Russell', 'JJ Bumrah', 'R Bhatia', 'RA Jadeja']
[51, 43, 38, 37, 37]

In [ ]:
tendulkar = ['M Kartik', 'SK Raina', 'T Thushara', 'Joginder Sharma', 'DW Steyn']
tendulkar_run = [36, 34, 26, 25, 24]

ch_gayle_2011 = ['SK Warne', 'PP Chawla', 'P Kumar', 'SL Malinga', 'J Botha']
ch_gayle_2011_run = [36, 36, 34, 28, 27]

In [27]:
for key,val in player_dict.items():
    for key1,val1 in val.items():
        print(key1,end = " ")
        print(val1,end = " ")
        
    print()

M Kartik 36 SK Raina 34 T Thushara 26 Joginder Sharma 25 DW Steyn 24
SK Warne 36 PP Chawla 36 P Kumar 34 SL Malinga 28 J Botha 27
R Ashwin 43 DJ Bravo 37 SK Raina 31 JH Kallis 31 J Botha 28
A Chandila 34 IK Pathan 30 I Sharma 28 UT Yadav 28 STR Binny 28
Mohammed Shami 36 R Bhatia 30 A Mishra 27 SR Watson 26 JP Duminy 25
YK Pathan 39 UT Yadav 26 M Vijay 26 DJ Bravo 25 M Morkel 24
Harbhajan Singh 51 AD Russell 43 JJ Bumrah 38 R Bhatia 37 RA Jadeja 37

In [ ]:
9100992457

In [34]:
purple = pd.read_csv('purplecapdata.csv')
purple

,Unnamed: 0,bowled,caught,stumped,lbw,caught and bowled,Total Wickets,Team,Year
0,PP Ojha,4,12,4,1,0,21,Deccan Chargers,2010
1,SL Malinga,16,10,0,0,2,28,Mumbai Indians,2011
2,M Morkel,6,11,0,8,0,25,Delhi Daredevils,2012
3,DJ Bravo_2014,4,15,0,1,2,22,Chennai Super Kings,2013
4,MM Sharma,8,14,0,1,0,23,Chennai Super Kings,2014
5,DJ Bravo_2016,2,23,0,0,1,26,Chennai Super Kings,2015
6,B Kumar,6,15,0,1,1,23,Sunrisers Hyderabad,2016

In [39]:
def returnunique(cols):
    return list(purple[cols])


for i in purple.columns:
    print(f' {str(i)} = {returnunique(i)}')

 Unnamed: 0 = ['PP Ojha', 'SL Malinga', 'M Morkel', 'DJ Bravo_2014', 'MM Sharma', 'DJ Bravo_2016', 'B Kumar']
 bowled = [4, 16, 6, 4, 8, 2, 6]
 caught = [12, 10, 11, 15, 14, 23, 15]
 stumped = [4, 0, 0, 0, 0, 0, 0]
 lbw = [1, 0, 8, 1, 1, 0, 1]
 caught and bowled = [0, 2, 0, 2, 0, 1, 1]
 Total Wickets = [21, 28, 25, 22, 23, 26, 23]
 Team = ['Deccan Chargers', 'Mumbai Indians', 'Delhi Daredevils', 'Chennai Super Kings', 'Chennai Super Kings', 'Chennai Super Kings', 'Sunrisers Hyderabad']
 Year = [2010, 2011, 2012, 2013, 2014, 2015, 2016]