In [43]:
import pandas as pd
import numpy as np
import json

In [44]:
orange = pd.read_csv('orangecapdata.csv')
purple = pd.read_csv('purplecapdata.csv')

In [45]:
orange

,Unnamed: 0,Year,Player Name,Total Runs,Zeros,Ones,Twos,Threes,Fours,Sixes,Boundary Runs,Team
0,0,2010,SR Tendulkar,617,184,177,36,2,86,3,362,Mumbai Indians
1,1,2011,CH Gayle,604,134,98,9,0,56,44,488,Royal Challengers Bangalore
2,2,2012,CH Gayle,733,189,162,15,1,46,59,538,Royal Challengers Bangalore
3,3,2013,MEK Hussey,733,217,225,38,2,81,17,426,Chennai Super Kings
4,4,2014,RV Uthappa,660,170,191,30,0,74,18,404,Kolkata Knight Riders
5,5,2015,DA Warner,562,139,112,29,2,65,21,386,Sunrisers Hyderabad
6,6,2016,V Kohli,969,184,291,56,2,83,38,560,Royal Challengers Bangalore

In [46]:
orange = orange.drop(['Unnamed: 0'],axis = 1)
orange

,Year,Player Name,Total Runs,Zeros,Ones,Twos,Threes,Fours,Sixes,Boundary Runs,Team
0,2010,SR Tendulkar,617,184,177,36,2,86,3,362,Mumbai Indians
1,2011,CH Gayle,604,134,98,9,0,56,44,488,Royal Challengers Bangalore
2,2012,CH Gayle,733,189,162,15,1,46,59,538,Royal Challengers Bangalore
3,2013,MEK Hussey,733,217,225,38,2,81,17,426,Chennai Super Kings
4,2014,RV Uthappa,660,170,191,30,0,74,18,404,Kolkata Knight Riders
5,2015,DA Warner,562,139,112,29,2,65,21,386,Sunrisers Hyderabad
6,2016,V Kohli,969,184,291,56,2,83,38,560,Royal Challengers Bangalore

In [47]:
orange_cap = {i:0 for i in range(2010,2017)}
sachin = orange[orange['Year']==2010]
sachin

,Year,Player Name,Total Runs,Zeros,Ones,Twos,Threes,Fours,Sixes,Boundary Runs,Team
0,2010,SR Tendulkar,617,184,177,36,2,86,3,362,Mumbai Indians

In [48]:
orange_dict = orange.to_dict()
orange_dict

{'Year': {0: 2010, 1: 2011, 2: 2012, 3: 2013, 4: 2014, 5: 2015, 6: 2016},
 'Player Name': {0: 'SR Tendulkar',
  1: 'CH Gayle',
  2: 'CH Gayle',
  3: 'MEK Hussey',
  4: 'RV Uthappa',
  5: 'DA Warner',
  6: 'V Kohli'},
 'Total Runs': {0: 617, 1: 604, 2: 733, 3: 733, 4: 660, 5: 562, 6: 969},
 'Zeros': {0: 184, 1: 134, 2: 189, 3: 217, 4: 170, 5: 139, 6: 184},
 'Ones': {0: 177, 1: 98, 2: 162, 3: 225, 4: 191, 5: 112, 6: 291},
 'Twos': {0: 36, 1: 9, 2: 15, 3: 38, 4: 30, 5: 29, 6: 56},
 'Threes': {0: 2, 1: 0, 2: 1, 3: 2, 4: 0, 5: 2, 6: 2},
 'Fours': {0: 86, 1: 56, 2: 46, 3: 81, 4: 74, 5: 65, 6: 83},
 'Sixes': {0: 3, 1: 44, 2: 59, 3: 17, 4: 18, 5: 21, 6: 38},
 'Boundary Runs': {0: 362, 1: 488, 2: 538, 3: 426, 4: 404, 5: 386, 6: 560},
 'Team': {0: 'Mumbai Indians',
  1: 'Royal Challengers Bangalore',
  2: 'Royal Challengers Bangalore',
  3: 'Chennai Super Kings',
  4: 'Kolkata Knight Riders',
  5: 'Sunrisers Hyderabad',
  6: 'Royal Challengers Bangalore'}}

In [49]:
orange_cap

{2010: 0, 2011: 0, 2012: 0, 2013: 0, 2014: 0, 2015: 0, 2016: 0}

In [50]:
player_dict = {'Player':0,
               'Runs':0,
              'Zeros':0,
              'Ones':0,
              'Twos':0,
              'Threes':0,
              'Fours':0,
              'Sixes':0,
              'Boundary Runs':0}

In [51]:
for i in range(7):
    orange_cap[orange_dict['Year'][i]] = {'Player':orange_dict['Player Name'][i],
                                         'Total Runs':orange_dict['Total Runs'][i],
                                         'Zeros':orange_dict['Zeros'][i],
                                         'Ones':orange_dict['Ones'][i],
                                         'Twos':orange_dict['Twos'][i],
                                         'Threes':orange_dict['Threes'][i],
                                         'Fours':orange_dict['Fours'][i],
                                         'Sixes':orange_dict['Sixes'][i],
                                          'Boundary Runs':orange_dict['Boundary Runs'][i],
                                          'Team' : orange_dict['Team'][i]
                                         }

In [52]:
orange_cap

{2010: {'Player': 'SR Tendulkar',
  'Total Runs': 617,
  'Zeros': 184,
  'Ones': 177,
  'Twos': 36,
  'Threes': 2,
  'Fours': 86,
  'Sixes': 3,
  'Boundary Runs': 362,
  'Team': 'Mumbai Indians'},
 2011: {'Player': 'CH Gayle',
  'Total Runs': 604,
  'Zeros': 134,
  'Ones': 98,
  'Twos': 9,
  'Threes': 0,
  'Fours': 56,
  'Sixes': 44,
  'Boundary Runs': 488,
  'Team': 'Royal Challengers Bangalore'},
 2012: {'Player': 'CH Gayle',
  'Total Runs': 733,
  'Zeros': 189,
  'Ones': 162,
  'Twos': 15,
  'Threes': 1,
  'Fours': 46,
  'Sixes': 59,
  'Boundary Runs': 538,
  'Team': 'Royal Challengers Bangalore'},
 2013: {'Player': 'MEK Hussey',
  'Total Runs': 733,
  'Zeros': 217,
  'Ones': 225,
  'Twos': 38,
  'Threes': 2,
  'Fours': 81,
  'Sixes': 17,
  'Boundary Runs': 426,
  'Team': 'Chennai Super Kings'},
 2014: {'Player': 'RV Uthappa',
  'Total Runs': 660,
  'Zeros': 170,
  'Ones': 191,
  'Twos': 30,
  'Threes': 0,
  'Fours': 74,
  'Sixes': 18,
  'Boundary Runs': 404,
  'Team': 'Kolkata Knight Riders'},
 2015: {'Player': 'DA Warner',
  'Total Runs': 562,
  'Zeros': 139,
  'Ones': 112,
  'Twos': 29,
  'Threes': 2,
  'Fours': 65,
  'Sixes': 21,
  'Boundary Runs': 386,
  'Team': 'Sunrisers Hyderabad'},
 2016: {'Player': 'V Kohli',
  'Total Runs': 969,
  'Zeros': 184,
  'Ones': 291,
  'Twos': 56,
  'Threes': 2,
  'Fours': 83,
  'Sixes': 38,
  'Boundary Runs': 560,
  'Team': 'Royal Challengers Bangalore'}}

In [53]:
from pprint import pprint

In [54]:
pprint(orange_cap)

{2010: {'Boundary Runs': 362,
        'Fours': 86,
        'Ones': 177,
        'Player': 'SR Tendulkar',
        'Sixes': 3,
        'Team': 'Mumbai Indians',
        'Threes': 2,
        'Total Runs': 617,
        'Twos': 36,
        'Zeros': 184},
 2011: {'Boundary Runs': 488,
        'Fours': 56,
        'Ones': 98,
        'Player': 'CH Gayle',
        'Sixes': 44,
        'Team': 'Royal Challengers Bangalore',
        'Threes': 0,
        'Total Runs': 604,
        'Twos': 9,
        'Zeros': 134},
 2012: {'Boundary Runs': 538,
        'Fours': 46,
        'Ones': 162,
        'Player': 'CH Gayle',
        'Sixes': 59,
        'Team': 'Royal Challengers Bangalore',
        'Threes': 1,
        'Total Runs': 733,
        'Twos': 15,
        'Zeros': 189},
 2013: {'Boundary Runs': 426,
        'Fours': 81,
        'Ones': 225,
        'Player': 'MEK Hussey',
        'Sixes': 17,
        'Team': 'Chennai Super Kings',
        'Threes': 2,
        'Total Runs': 733,
        'Twos': 38,
        'Zeros': 217},
 2014: {'Boundary Runs': 404,
        'Fours': 74,
        'Ones': 191,
        'Player': 'RV Uthappa',
        'Sixes': 18,
        'Team': 'Kolkata Knight Riders',
        'Threes': 0,
        'Total Runs': 660,
        'Twos': 30,
        'Zeros': 170},
 2015: {'Boundary Runs': 386,
        'Fours': 65,
        'Ones': 112,
        'Player': 'DA Warner',
        'Sixes': 21,
        'Team': 'Sunrisers Hyderabad',
        'Threes': 2,
        'Total Runs': 562,
        'Twos': 29,
        'Zeros': 139},
 2016: {'Boundary Runs': 560,
        'Fours': 83,
        'Ones': 291,
        'Player': 'V Kohli',
        'Sixes': 38,
        'Team': 'Royal Challengers Bangalore',
        'Threes': 2,
        'Total Runs': 969,
        'Twos': 56,
        'Zeros': 184}}

In [55]:
orange_cap = json.dumps(orange_cap,indent=2)
with open('Orangecap','w') as outfile:
    outfile.write(orange_cap)

In [56]:
purple.head()

,Unnamed: 0,bowled,caught,stumped,lbw,caught and bowled,Total Wickets,Team,Year
0,PP Ojha,4,12,4,1,0,21,Deccan Chargers,2010
1,SL Malinga,16,10,0,0,2,28,Mumbai Indians,2011
2,M Morkel,6,11,0,8,0,25,Delhi Daredevils,2012
3,DJ Bravo_2014,4,15,0,1,2,22,Chennai Super Kings,2013
4,MM Sharma,8,14,0,1,0,23,Chennai Super Kings,2014

In [57]:
purple.columns

Index(['Unnamed: 0', 'bowled', 'caught', 'stumped', 'lbw', 'caught and bowled',
       'Total Wickets', 'Team', 'Year'],
      dtype='object')

In [58]:
purple.columns = ['Player','bowled', 'caught', 'stumped', 'lbw', 'caught and bowled',
       'Total Wickets', 'Team', 'Year']

purple = purple[['Year','Player','bowled', 'caught', 'stumped', 'lbw', 'caught and bowled',
       'Total Wickets', 'Team']]
purple

,Year,Player,bowled,caught,stumped,lbw,caught and bowled,Total Wickets,Team
0,2010,PP Ojha,4,12,4,1,0,21,Deccan Chargers
1,2011,SL Malinga,16,10,0,0,2,28,Mumbai Indians
2,2012,M Morkel,6,11,0,8,0,25,Delhi Daredevils
3,2013,DJ Bravo_2014,4,15,0,1,2,22,Chennai Super Kings
4,2014,MM Sharma,8,14,0,1,0,23,Chennai Super Kings
5,2015,DJ Bravo_2016,2,23,0,0,1,26,Chennai Super Kings
6,2016,B Kumar,6,15,0,1,1,23,Sunrisers Hyderabad

In [59]:
purple_dict = purple.to_dict()

In [60]:
purple_cap = {i:0 for i in range(2010,2017)}
for i in range(7):
    purple_cap[purple_dict['Year'][i]] = {'Player':purple_dict['Player'][i],
                                         'Bowled':purple_dict['bowled'][i],
                                         'Caught':purple_dict['caught'][i],
                                         'Stumped':purple_dict['stumped'][i],
                                         'LBW':purple_dict['lbw'][i],
                                         'Caught and Bowled':purple_dict['caught and bowled'][i],
                                         'Total Wickets':purple_dict['Total Wickets'][i],
                                         'Team' : purple_dict['Team'][i]
                                         }

In [63]:
pprint(purple_cap)

{2010: {'Bowled': 4,
        'Caught': 12,
        'Caught and Bowled': 0,
        'LBW': 1,
        'Player': 'PP Ojha',
        'Stumped': 4,
        'Team': 'Deccan Chargers',
        'Total Wickets': 21},
 2011: {'Bowled': 16,
        'Caught': 10,
        'Caught and Bowled': 2,
        'LBW': 0,
        'Player': 'SL Malinga',
        'Stumped': 0,
        'Team': 'Mumbai Indians',
        'Total Wickets': 28},
 2012: {'Bowled': 6,
        'Caught': 11,
        'Caught and Bowled': 0,
        'LBW': 8,
        'Player': 'M Morkel',
        'Stumped': 0,
        'Team': 'Delhi Daredevils',
        'Total Wickets': 25},
 2013: {'Bowled': 4,
        'Caught': 15,
        'Caught and Bowled': 2,
        'LBW': 1,
        'Player': 'DJ Bravo_2014',
        'Stumped': 0,
        'Team': 'Chennai Super Kings',
        'Total Wickets': 22},
 2014: {'Bowled': 8,
        'Caught': 14,
        'Caught and Bowled': 0,
        'LBW': 1,
        'Player': 'MM Sharma',
        'Stumped': 0,
        'Team': 'Chennai Super Kings',
        'Total Wickets': 23},
 2015: {'Bowled': 2,
        'Caught': 23,
        'Caught and Bowled': 1,
        'LBW': 0,
        'Player': 'DJ Bravo_2016',
        'Stumped': 0,
        'Team': 'Chennai Super Kings',
        'Total Wickets': 26},
 2016: {'Bowled': 6,
        'Caught': 15,
        'Caught and Bowled': 1,
        'LBW': 1,
        'Player': 'B Kumar',
        'Stumped': 0,
        'Team': 'Sunrisers Hyderabad',
        'Total Wickets': 23}}

In [64]:
purple_cap = json.dumps(purple_cap,indent=2)
with open('Purplecap','w') as outfile:
    outfile.write(purple_cap)